:root {
  --background-color: #202020;
  --text-color: lightyellow;
  --success-color: greenyellow;
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-message {
  margin: 1rem;
  color: var(--text-color);
  font-size: 1.5rem;
}

.video {
  width: 30rem;
  height: 30rem;
  background: black;
  object-fit: cover;
  border: var(--background-color) 10px solid;
}

.video-success {
  border-color: var(--success-color);
}

.status {
  margin: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.lock-open {
  font-weight: bold;
  color: var(--success-color);
}
